*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 2000px;
}

.cabecalho {
    background-color: #FFD54F;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.direita{
    display: flex;
    gap: 35px;
    padding: 10px 60px;
    align-items: bottom;
}

#botao {
    background-color: #fafafa;
    padding: 10px;
    width: 90px;
    text-align: center;
    border-radius: 5px;
    
}

.galinha {
    padding: 10px 30px;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: #212121;
}

#botao:hover {
    background-color: #ebe9e9;
}


.titulo {
    background-color: beige;
    font-size: 40px;
    padding-top: 50px;
    
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
}

