@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

p, a {
    font-family: Roboto;
}

h1, h2 {
    font-family: Quicksand;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 2000px;
    min-height: fit-content;
}

.cabecalho {
    background-color: #FFD54F;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.direita{
    display: flex;
    gap: 35px;
    padding: 10px 60px;
    align-items: bottom;
}

#botao {
    background-color: #fafafa;
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    
}



.galinha {
    padding: 10px 30px;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: #212121;
}

#botao:hover {
    background-color: #ebe9e9;
}


.titulo {
    background-color: beige;
    font-size: 40px;
    padding-top: 50px;
    
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
}


.texto1 {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    width: 500px;
    font-size: 20px;
    background-color: #FFA756;
    text-align: center;
    border-radius: 10px;
}

.corpo {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F2E6D8;
}

.texto2 {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 500px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    background-color: #FFB37E;
    text-align: center;  
    border-radius: 10px;
    
}

.titulo2 {
    text-align: center;
    padding-top: 20px;
    background-color: #FFF7E6;
}


.parte1, .parte2 {
display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;         
    min-width: 150px; 
}


.partes {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 1rem;
    background-color: #FFF7E6 ;
    flex-wrap: nowrap;
    gap: 2rem;
}

.gema {
    background-color: #FFB37E;
    padding: 25px;
    border-radius: 20px;
}

.disco {
    
    background-color: #ee9644 ;
    padding: 25px;
    border-radius: 20px;    
}

.camara {
    background-color: #ee9644;
    padding: 25px;
    border-radius: 20px;
}

.membrana {
    background-color: #FFB37E;
    padding: 25px;
    border-radius: 20px;
}

.explicado {
    max-width: 300px; 
    width: 100%;
    height: auto;
    flex: 1 1 30%;
}



footer {
    background-color: #FFD54F;
    padding: 40px 80px 20px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ifsp_img {
    width: 120px;
    border-radius: 8px;
}

.nomes {
    font-size: 20px;
    
}


@media (max-width: 768px) {
    .cabecalho, .titulo, .corpo, footer {
        flex-direction: column; /* empilha itens em telas pequenas */
        align-items: center;
        text-align: center;
        padding: 1rem;
    }
    .partes {
         flex-direction: column; /* empilha tudo verticalmente */
         align-items: center;
    }

    .lado-esquerdo, .lado-direito {
        flex-direction: row;    /* ou continue coluna se quiser */
        gap: 1rem;
    }

    .imagem-centro img {
        max-width: 90%;
        margin: 1rem 0;
    }

}